html{
    overflow: hidden;
}

#map {
    height: 100vh;
}

#map-container {
    height: 100vh;
}

#search-container {
    max-height: 100vh;
}

.descriptionFontSize {
    font-size: small;
}

.descriptionAddress {
    font-size: medium;
}

.interfaceIcon {
    height: 20px;
}
