html {
    overflow: hidden;
}

#map {
    height: 100vh;
}

#map-container {
    height: 100vh;
}

.searchBoxIcon {
    border: 1px solid red;
    height: 30px;
    padding: 2px;
}

.headerFontSize {
    font-size: medium;
}

.descriptionFontSize {
    font-size: small;
}

.descriptionAddress {
    font-size: medium;
}

.btn-circle.btn-sm {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.interfaceIcon {
    height: 20px;
}



.feedbackError {
    border: 1px solid red;
    color: red;
}

.errorTxt {
    font-size: x-small;
    color: red;
    font-style: italic;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 314159;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    #search-container {
        max-height: 100vh;
        position: absolute;
        z-index: 314159;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        /* background-color: red; */
        /* margin: 5px; */
    }

    #searchBar {
        border: 1px solid pink;
        margin-top: 10px;
        display: flex;
        border-radius: 50px 50px 50px 50px;
        padding: 5px;
        height: 47px;
    }

    #searchBox {
        border: 1px solid blue;
        background-color: aquamarine;
        width: 400px;
        display: flex;
        border-radius: 10px 10px 10px 10px;
        height: 33px;
    }

    .nav-tabs>li>button {
        /* adjust padding for height*/
        padding-top: 3px;
        height: 30px;
        width: 100px;
    }
}

@media screen and (min-width: 576px) {
    #search-container {
        max-height: 100vh;
        position: absolute;
        z-index: 314159;
        width: 450px;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 10px;
        border-radius: 5px 5px 5px 5px;
    }

    #searchBar {
        border: 1px solid pink;
        margin-top: 10px;
        display: flex;
        border-radius: 50px 50px 50px 50px;
        padding: 5px;
        height: 47px;
    }

    #searchBox {
        border: 1px solid blue;
        background-color: aquamarine;
        width: 400px;
        display: flex;
        border-radius: 10px 10px 10px 10px;
        height: 33px;
    }

    .nav-tabs>li>button {
        /* adjust padding for height*/
        padding-top: 3px;
        height: 30px;
        width: 123px;
    }
}