html{
    overflow: hidden;
}

#map {
    height: 100vh;
}

#map-container {
    height: 100vh;
}

#search-container {
    max-height: 100vh;
}

.descriptionFontSize {
    font-size: small;
}

.descriptionAddress {
    font-size: medium;
}

.interfaceIcon {
    height: 20px;
}

.nav-tabs > li > button
{
    /* adjust padding for height*/
    padding-top: 3px;
    height: 30px;
}